body {
  font-family: "Helvetica";
}

.hidden {
  display: none;
}

div#content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

img.bg {
  z-index: 1;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

#phrase {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  color: red;
  padding: 4px;
  background-color: gray;
  opacity: 0.8;
  width: 300px;
}

.tweet {
  position: absolute;
  color: black;
  opacity: 0.8;
  width: 300px;
  font-size: 20px;
  padding: 4px;
  background-color: gray;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
