body {
  background-color: black;
  font-family: "Helvetica";
}

.hidden {
  display: none;
}

div#content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

div#introduction {
  margin: 0 auto;
  font-family: 'Old Standard TT', sans-serif;
  font-size: 64px;
  color: white;
}

div#introduction span.smaller {
  padding-top: -10px;
  font-size: 42px;
}

div#introduction a {
  color: white;
  text-decoration: none;
}

div#title {
  font-family: 'Old Standard TT', serif;
  font-size: 4em;
  color: white;
}

img.bg {
  z-index: 1;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

div#phrase {
  position: absolute;
  width: 800px;
  padding: 4px;
  font-family: 'Old Standard TT', sans-serif;
  font-size: 46px;
  color: white;
  text-shadow: 0px 0px 8px black;
}

.tweet {
  position: absolute;
  color: black;
  opacity: 0.8;
  width: 300px;
  font-size: 20px;
  padding: 4px;
  background-color: gray;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
